.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__bqvmo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") left 0% bottom 46.89% / 2127px 1989px
    repeat;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bqvmo {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.header2__tMh9Z:global(.__wab_instance) {
  margin-top: 0px;
  width: 1300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2__tMh9Z:global(.__wab_instance) {
    margin-top: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox___97ToS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  min-width: 0;
  padding: 128px 32px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___97ToS {
    padding-top: 130px;
    padding-bottom: 220px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__oWZwb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oWZwb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__oWZwb > :global(.__wab_flex-container) > *,
.freeBox__oWZwb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oWZwb > :global(.__wab_flex-container) > picture > img,
.freeBox__oWZwb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oWZwb > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oWZwb > :global(.__wab_flex-container) > *,
  .freeBox__oWZwb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oWZwb > :global(.__wab_flex-container) > picture > img,
  .freeBox__oWZwb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-h6aVhKAyca-qac);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}
.freeBox__e5Pw0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 507px;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e5Pw0 {
    position: relative;
  }
}
.text__lpnCs {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lpnCs {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__oSzxN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__oSzxN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__oSzxN > :global(.__wab_flex-container) > *,
.freeBox__oSzxN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oSzxN > :global(.__wab_flex-container) > picture > img,
.freeBox__oSzxN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vIrda {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2___2Lbk0:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2___2Lbk0:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__lmVe5 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__h2JuV {
  position: relative;
}
.columns__mNItq {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__mNItq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__mNItq > :global(.__wab_flex-container) > *,
.columns__mNItq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mNItq > :global(.__wab_flex-container) > picture > img,
.columns__mNItq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
.columns__mNItq {
  --plsmc-rc-col-gap: 0px;
}
.columns__mNItq > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mNItq > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mNItq > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mNItq > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNItq {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNItq > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNItq > :global(.__wab_flex-container) > *,
  .columns__mNItq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mNItq > :global(.__wab_flex-container) > picture > img,
  .columns__mNItq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNItq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iQOlF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__irvPe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__irvPe:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img___7NslA {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___7NslA > picture > img {
  object-fit: cover;
}
.img___7NslA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__k4Yjx:global(.__wab_instance) {
  position: relative;
}
.column__tkxRe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__uouWw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___5N5R {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5N5R > picture > img {
  object-fit: cover;
}
.img___5N5R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__tl8Oy:global(.__wab_instance) {
  position: relative;
}
.column___8NwN2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__wCvWv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___1JoUw {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___1JoUw > picture > img {
  object-fit: cover;
}
.img___1JoUw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__z94B7:global(.__wab_instance) {
  position: relative;
}
.column__u9LuC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ttDcY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__joMa {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__joMa > picture > img {
  object-fit: cover;
}
.img__joMa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__misKg:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__e6Uar {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__bkkqg {
  position: relative;
  color: var(--token-0DdnGTX5B6AWcm);
  font-size: 30px;
  font-weight: 500;
}
.columns__cOnAe {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__cOnAe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
  --plsmc-rc-col-gap: 36px;
}
.columns__cOnAe > :global(.__wab_flex-container) > *,
.columns__cOnAe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__cOnAe > :global(.__wab_flex-container) > picture > img,
.columns__cOnAe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
.columns__cOnAe {
  --plsmc-rc-col-gap: 0px;
}
.columns__cOnAe > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__cOnAe > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__cOnAe > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__cOnAe > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cOnAe {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cOnAe > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cOnAe > :global(.__wab_flex-container) > *,
  .columns__cOnAe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__cOnAe > :global(.__wab_flex-container) > picture > img,
  .columns__cOnAe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cOnAe > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cuApB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__pRbDl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__wqJlk {
  height: auto;
}
.text__wmFkQ {
  height: auto;
}
.img__dHwHh {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__dHwHh > picture > img {
  object-fit: cover;
}
.img__dHwHh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__aJeAj:global(.__wab_instance) {
  position: relative;
}
.column__vlAgF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___2IGRv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rU5T {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__rU5T > picture > img {
  object-fit: cover;
}
.img__rU5T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__pe65W:global(.__wab_instance) {
  position: relative;
}
.column__g6Gq8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__n84E0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ibwgm {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ibwgm > picture > img {
  object-fit: cover;
}
.img__ibwgm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__xwCZk:global(.__wab_instance) {
  position: relative;
}
.column__yp6KF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___7Lb8K:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard___7Lb8K:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__wajYh {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__wajYh > picture > img {
  object-fit: cover;
}
.img__wajYh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__qBoHq:global(.__wab_instance) {
  position: relative;
}
.freeBox__cjrBk {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text___0ZRj {
  position: relative;
  color: var(--token-0DdnGTX5B6AWcm);
  font-size: 30px;
  font-weight: 500;
}
.columns__byAe9 {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__byAe9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__byAe9 > :global(.__wab_flex-container) > *,
.columns__byAe9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__byAe9 > :global(.__wab_flex-container) > picture > img,
.columns__byAe9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__byAe9 {
  --plsmc-rc-col-gap: 0px;
}
.columns__byAe9 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__byAe9 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__byAe9 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__byAe9 {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__byAe9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__byAe9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rPnxM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__oLwF0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__dzwA7 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__dzwA7 > picture > img {
  object-fit: cover;
}
.img__dzwA7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__pTm8X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__aktX0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__b3Zb {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__b3Zb > picture > img {
  object-fit: cover;
}
.img__b3Zb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__oe0MG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___1NRHo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__gQbFx {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gQbFx > picture > img {
  object-fit: cover;
}
.img__gQbFx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ta7Je {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-kvivt7Cu3craYW);
  display: none;
  padding: 48px;
}
.freeBox__ta7Je > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ta7Je > :global(.__wab_flex-container) > *,
.freeBox__ta7Je > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ta7Je > :global(.__wab_flex-container) > picture > img,
.freeBox__ta7Je
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__q2KbM {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__q2KbM > picture > img {
  object-fit: cover;
}
.img__q2KbM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pvh0H {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__pvh0H > picture > img {
  object-fit: cover;
}
.img__pvh0H > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___8KeYu {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img___8KeYu > picture > img {
  object-fit: cover;
}
.img___8KeYu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fLwqy {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__fLwqy > picture > img {
  object-fit: cover;
}
.img__fLwqy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___89Zqn {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img___89Zqn > picture > img {
  object-fit: cover;
}
.img___89Zqn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer__o1KY:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ssqUb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ssqUb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ssqUb > :global(.__wab_flex-container) > *,
.freeBox__ssqUb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ssqUb > :global(.__wab_flex-container) > picture > img,
.freeBox__ssqUb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2___0Ue7F {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-y3I9R5KEKXPofC);
}
.columns__dtKww {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__dtKww > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__dtKww > :global(.__wab_flex-container) > *,
.columns__dtKww > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dtKww > :global(.__wab_flex-container) > picture > img,
.columns__dtKww
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__dtKww {
  --plsmc-rc-col-gap: 0px;
}
.columns__dtKww > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dtKww > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dtKww > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtKww {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtKww > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtKww > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yoDjT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yoDjT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__yoDjT > :global(.__wab_flex-container) > *,
.column__yoDjT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yoDjT > :global(.__wab_flex-container) > picture > img,
.column__yoDjT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___787WW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___787WW > picture > img {
  object-fit: cover;
}
.img___787WW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__yleC {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__yYjVp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ljdEi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__tO56I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__mi7Pq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5__w2EmV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.column__s6ZDd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__s6ZDd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__s6ZDd > :global(.__wab_flex-container) > *,
.column__s6ZDd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__s6ZDd > :global(.__wab_flex-container) > picture > img,
.column__s6ZDd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qap7D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qap7D > picture > img {
  object-fit: cover;
}
.img__qap7D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___8DL8N {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___7YLYp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__bUom2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__p3Pe4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__xLdrj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5__bGtJp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.column__sQLhi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__sQLhi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__sQLhi > :global(.__wab_flex-container) > *,
.column__sQLhi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__sQLhi > :global(.__wab_flex-container) > picture > img,
.column__sQLhi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__dfAan {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__dfAan > picture > img {
  object-fit: cover;
}
.img__dfAan > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__x9Vuj {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___01O5J {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___8WoPi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__v77Eq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__mPmn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5__pYUbj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.img__f0Pag {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__f0Pag > picture > img {
  object-fit: cover;
}
.img__f0Pag > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rxZzl {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__mfyur {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___8Fiag {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___32Q8O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__eua6Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5__gyT5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kIgLk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kIgLk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kIgLk > :global(.__wab_flex-container) > *,
.freeBox__kIgLk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kIgLk > :global(.__wab_flex-container) > picture > img,
.freeBox__kIgLk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__axGpQ {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-y3I9R5KEKXPofC);
}
.columns__qbklj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__qbklj > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__qbklj > :global(.__wab_flex-container) > *,
.columns__qbklj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qbklj > :global(.__wab_flex-container) > picture > img,
.columns__qbklj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__qbklj {
  --plsmc-rc-col-gap: 0px;
}
.columns__qbklj > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qbklj > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qbklj > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qbklj > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbklj {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbklj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbklj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___6JbyF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___6JbyF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___6JbyF > :global(.__wab_flex-container) > *,
.column___6JbyF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6JbyF > :global(.__wab_flex-container) > picture > img,
.column___6JbyF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qKle {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qKle > picture > img {
  object-fit: cover;
}
.img__qKle > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__uR2C {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__hGi08 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__tycJs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__v4Ku {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__nrUuG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5___5LDDg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.column__d1CsV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__d1CsV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__d1CsV > :global(.__wab_flex-container) > *,
.column__d1CsV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__d1CsV > :global(.__wab_flex-container) > picture > img,
.column__d1CsV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__v6Jlu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__v6Jlu > picture > img {
  object-fit: cover;
}
.img__v6Jlu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xvO9 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ns3Ds {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___2CEE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__xeIq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__m4EEv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5__iPkx4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.column___9UIqz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___9UIqz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___9UIqz > :global(.__wab_flex-container) > *,
.column___9UIqz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9UIqz > :global(.__wab_flex-container) > picture > img,
.column___9UIqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___1GftU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___1GftU > picture > img {
  object-fit: cover;
}
.img___1GftU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__d9GgV {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__vvI6W {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__fbHlw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___2EmO9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__wpFdb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5___34Fqt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.column__pv8Xq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__pv8Xq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__pv8Xq > :global(.__wab_flex-container) > *,
.column__pv8Xq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pv8Xq > :global(.__wab_flex-container) > picture > img,
.column__pv8Xq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__lZrH0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-PE1QFaZ5ZFDg60);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__lZrH0 > picture > img {
  object-fit: cover;
}
.img__lZrH0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gxPj2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-X1jDnyWGByQLrV);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__mhRf6 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0u6JY7pvjlO5TD);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__zlAk7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__bP3FI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 24px;
  min-width: 0;
}
.text__e3ORq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-h6aVhKAyca-qac);
  min-width: 0;
}
.h5___4R4Um {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6aVhKAyca-qac);
  line-height: 34px;
  min-width: 0;
}
.weLove {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: -150px;
  padding: 0px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weLove {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 55px;
  }
}
.freeBox__eHme6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__pISmJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__pISmJ > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__pISmJ > :global(.__wab_flex-container) > *,
.columns__pISmJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pISmJ > :global(.__wab_flex-container) > picture > img,
.columns__pISmJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__pISmJ {
  --plsmc-rc-col-gap: 0px;
}
.columns__pISmJ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pISmJ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pISmJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pISmJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pISmJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gc4Ue {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__t7RI2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__t7RI2 > picture > img {
  object-fit: cover;
}
.img__t7RI2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__t7RI2 {
    height: 400px;
    flex-shrink: 0;
  }
}
.column__d2Hoq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__d2Hoq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__d2Hoq > :global(.__wab_flex-container) > *,
.column__d2Hoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__d2Hoq > :global(.__wab_flex-container) > picture > img,
.column__d2Hoq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__d2Hoq > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__d2Hoq > :global(.__wab_flex-container) > *,
  .column__d2Hoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__d2Hoq > :global(.__wab_flex-container) > picture > img,
  .column__d2Hoq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__m137P {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 42px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__m137P {
    font-size: 32px;
  }
}
.text__dvfQs {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dvfQs {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.weThink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 95px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weThink {
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.freeBox__a0Uvh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__sdOwt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__sdOwt > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__sdOwt > :global(.__wab_flex-container) > *,
.columns__sdOwt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__sdOwt > :global(.__wab_flex-container) > picture > img,
.columns__sdOwt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__sdOwt {
  --plsmc-rc-col-gap: 0px;
}
.columns__sdOwt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__sdOwt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sdOwt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sdOwt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sdOwt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ork3W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__ork3W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__ork3W > :global(.__wab_flex-container) > *,
.column__ork3W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ork3W > :global(.__wab_flex-container) > picture > img,
.column__ork3W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ork3W > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ork3W > :global(.__wab_flex-container) > *,
  .column__ork3W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__ork3W > :global(.__wab_flex-container) > picture > img,
  .column__ork3W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__oy4Kw {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-h6aVhKAyca-qac);
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__oy4Kw {
    width: auto;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    color: var(--token-h6aVhKAyca-qac);
  }
}
.text__hnFyN {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hnFyN {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    text-align: left;
    min-width: 0;
  }
}
.column__mHkEs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img__mFyBv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__mFyBv > picture > img {
  object-fit: cover;
}
.img__mFyBv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mFyBv {
    width: 500px;
    height: 400px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.footer__wFyfP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
