.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__cHcSm {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__rTqZ1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #0000002e;
  min-width: 0;
  padding: 32px 24px;
}
.freeBox__rTqZ1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__rTqZ1 > :global(.__wab_flex-container) > *,
.freeBox__rTqZ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rTqZ1 > :global(.__wab_flex-container) > picture > img,
.freeBox__rTqZ1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__mr4OO {
  position: relative;
  font-size: 28px;
  color: var(--token-bdaH5fDuClTG4h);
}
.text___8UU {
  position: relative;
  color: var(--token-0DdnGTX5B6AWcm);
  font-size: 40px;
}
.text__xHnJc {
  position: relative;
  color: var(--token-XfbaVrNfhmJh5H);
}
.freeBox__gApXi {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(24px + 12px) !important;
}
.freeBox__gApXi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gApXi > :global(.__wab_flex-container) > *,
.freeBox__gApXi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gApXi > :global(.__wab_flex-container) > picture > img,
.freeBox__gApXi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__p1BR3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__p1BR3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__p1BR3 > :global(.__wab_flex-container) > *,
.freeBox__p1BR3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p1BR3 > :global(.__wab_flex-container) > picture > img,
.freeBox__p1BR3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__jWtT {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__my8De {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__pCmnx {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
